@keyframes slideInFromLeft {
  0% {
      transform: translateX(-50%);
  }

  100% {
      transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
      transform: translateX(20%);
  }

  100% {
      transform: translateX(0);
  }
}