.main_profiles {
  height: 378px;
  margin-bottom: 93px;
}

.profiles_header {
  font-size: 40px;
  line-height: 48px;
  color: var(--dark-gray);
}

.profiles_grid {
  margin-top: 32px;
}

.grid_cell {
  height: 298px;
  width: 210px;
  position: relative;
}

.grid_cell::after {
  content: url(images/frame_dots.svg);
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.cell_content {
  display: flex;
  flex-direction: column;
}

.content_photo {
  height: 164px;
  width: 164px;
  border-radius: 30px;
  overflow: hidden;
  margin-top: 18px;
}

.content_info {
  height: 68px;
  margin: 24px 0;
  width: 100%;
}

.info_name {
  font-size: 28px;
  line-height: 36px;
  color: var(--dark-gray);
}

.info_position {
  margin-top: 8px;
  color: var(--secondary-text);
}