@import url(animations.css);
@import url(null.css);

html,
body {
  height: 100%;
  font-family: "Tahoma", sans-serif;
  line-height: 24px;
}

.wrapper {
  height: 100%;
}

.container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  overflow: hidden;
}

.content {
  width: 1230px;
  margin: 0 auto;
}

/* <##### HEADER ########################################################################> */

.header {
  background: linear-gradient(90deg, var(--teal) 70%, var(--sapphire) 30%);
  position: relative;
}

.header_block {
  display: flex;
  justify-content: center;
  height: 100%;
}

/* <##### INFO ########################################################################> */

.header_info {
  background-image: url(images/webinar.png);
  background-repeat: no-repeat;
  background-position: bottom 10% right 5%;
  animation: slideInFromLeft 1s ease-in;
}

.info_container {
  height: 428px;
  width: 700px;
  margin: 76px 72px 124px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info_logo {
  width: fit-content;
}

.info_logo:hover {
  cursor: pointer;
  opacity: 0.9;
}

.text_flag {
  text-transform: uppercase;
  color: var(--peridot);
  font-size: 28px;
  line-height: 36px;
  margin-top: 75px;
}

.text_title {
  font-size: 60px;
  line-height: 68px;
  color: var(--white);
  margin: 32px 109px 32px 0;
  width: 498px;
}

.text_data {
  font-size: 28px;
  line-height: 36px;
  color: var(--white);
}

.header_registration {
  background-color: var(--sapphire);
  height: 100%;
  width: 100%;
  animation: slideInFromRight 1s ease-in;
}

.header_block::after {
  content: url(images/form_dots_right.svg);
  position: absolute;
  top: 0;
  right: 11px;
}

.header_block::before {
  content: url(images/header_dots_left.svg);
  position: absolute;
  bottom: 0;
  left: 11px;
}

/* <##### FORM ########################################################################> */

.header-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 380px;
  margin: 86px 0 86px 71px;
}

.header-form_header {
  font-size: 28px;
  line-height: 36px;
  color: var(--white);
}

.header-form_name,
.header-form_surname,
.header-form_email {
  height: 48px;
  padding: 12px;
  color: var(--secondary-text);
}

.header-form_header {
  height: 48px;
  margin-bottom: 16px;
}

.header-form > input:not(:last-child) {
  margin-bottom: 16px;
}

#checkbox {
  transform: scale(1.5);
  margin-right: 16px;
}

.header-form_checkbox {
  display: flex;
  height: 72px;
  color: var(--white);
  align-items: baseline;
}

.header-form_agreement {
  color: var(--white);
  height: 48px;
  margin: 16px 0;
}

.agreement_href {
  color: var(--peridot);
}

.header-form_btn {
  height: 48px;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 99px;
  background-color: var(--peridot);
  color: var(--sapphire);
}

.header-form_btn:hover {
  opacity: 0.8;
}

/* <##### MAIN ########################################################################> */

.separator {
  border-bottom: 1px solid #cdcdcd;
  margin-bottom: 64px;
  margin-top: 48px;
}

.main {
  flex: 1 1 auto;
  position: relative;
}

.main_block {
  margin-top: 114px;
}

.main_block::before {
  content: url(images/dots_left.svg);
  position: absolute;
  top: 33px;
  left: 11px;
}

/* <##### PROGRAM ########################################################################> */

.main_program {
  height: 472px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.program_header {
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  margin-bottom: 48px;
}

.program_content {
  width: 100%;
  height: 376px;
  display: flex;
  justify-content: space-between;
}

.video_preview:hover {
  cursor: pointer;
}

.video_annotation {
  font-weight: 700;
  color: var(--secondary-text);
  margin-top: 21px;
}

.content_info {
  width: 735px;
}

.info_announcement,
.info_list,
.info_resume {
  color: var(--dark-gray);
}

.icon-dot_icon {
  font-size: 8px;
  vertical-align: 20%;
  margin-right: 16px;
}

.info_list {
  margin: 24px 0;
}

.info_list > ul > li:not(:last-child) {
  margin-bottom: 8px;
}

.info_get {
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 48px;
}

.get_text {
  font-size: 24px;
  line-height: 32px;
  color: var(--dark-gray);
  width: 399px;
}

.get_btn {
  width: 170px;
  height: 48px;
  border-radius: 24px;
  background-color: var(--topaz);
  color: var(--white);
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.get_btn:hover {
  background: var(--peridot);
}

/* <##### PROFILES ########################################################################> */

.main_profiles {
  height: 378px;
  margin-bottom: 93px;
}

.profiles_header {
  font-size: 40px;
  line-height: 48px;
  color: var(--dark-gray);
}

.profiles_grid {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
}

.grid_cell {
  height: 298px;
  width: 210px;
  position: relative;
}

.grid_cell::after {
  content: url(images/frame_dots.svg);
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.cell_content {
  display: flex;
  flex-direction: column;
}

.content_photo {
  height: 164px;
  width: 164px;
  border-radius: 30px;
  overflow: hidden;
  margin-top: 18px;
}

.content_text {
  height: 68px;
  margin: 24px 0;
  width: 100%;
}

.info_name {
  font-size: 28px;
  line-height: 36px;
  color: var(--dark-gray);
}

.info_position {
  margin-top: 8px;
  color: var(--secondary-text);
}

/* <##### FOOTER ########################################################################> */

.footer {
  height: 96px;
  display: flex;
  align-items: center;
  background-color: var(--body-bg);
  color: var(--secondary-text);
}

.footer_block {
  display: flex;
  justify-content: space-between;
}

.socials_icon {
  width: 36px;
  height: 36px;
  color: var(--secondary-text);
}

.socials_icon:not(:last-child) {
  margin-right: 24px;
}

.socials_icon:hover {
  color: var(--topaz);
}

/* <##### MODAL ########################################################################> */

.modal-window {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, .4);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-window.active {
  display: flex;
}

/* <##### MEDIA ########################################################################> */

@media (max-width: 1540px) {
  .header_block::after,
  .header_block::before,
  .main_block::before {
    display: none;
  }
}

@media (max-width: 1230px) {
  .content {
    width: 830px;
  }

  .header {
    background: linear-gradient(180deg, var(--teal) 50%, var(--sapphire) 50%);
  }

  .header_block {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
  }

  .header_info {
    background-position: bottom 10% right;
  }

  .info_container {
    margin: 38px 72px 84px 0;
  }

  .header-form {
    width: 760px;
    margin: 46px 0;
  }

  .registration_form {
    display: flex;
    justify-content: center;
  }

  .main_block {
    margin-top: 57px;
  }

  .program_header {
    margin-bottom: 24px;
  }

  .program_content {
    flex-direction: column;
    align-items: center;
  }

  .main_program {
    height: 884px;
    justify-content: unset;
  }

  .content_video {
    margin: 0 auto;
  }

  .video_image {
    height: 327px;
  }

  .content_info {
    width: 100%;
    margin-top: 24px;
  }

  .separator {
    margin-bottom: 32px;
    margin-top: 32px;
  }

  .main_profiles {
    height: 100%;
    margin-bottom: 47px;
  }

  .profiles_grid {
    flex-wrap: wrap;
  }
}

@media (max-width: 830px) {
  .content {
    width: 100%;
    padding: 0 1rem;
  }

  .header_info {
    background-position: top right;
    background-size: 50%;
    animation: none;
  }

  .header_registration {
    animation: none;
  }

  .info_container {
    margin: 76px 0px 63px 0;
    width: 100%;
  }

  .text_title,
  .text_data {
    text-align: center;
  }

  .header-form_agreement {
    text-align: center;
  }

  .main_program {
    height: 784px;
  }

  .video_image {
    height: 100%;
  }

  .info_get {
    height: auto;
    flex-direction: column;
    justify-content: center;
    margin-top: 36px;
  }

  .get_text {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
  }

  .main_profiles {
    margin-bottom: 37px;
  }

  .profiles_grid {
    justify-content: space-around;
  }

  .grid_cell {
    margin: 1rem;
  }

  .footer {
    height: 128px;
  }

  .footer_block {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer_copyright {
    text-align: center;
  }

  .footer_socials {
    margin-top: 1rem;
  }
}

@media (max-width: 680px) {
  .main_program {
    height: 834px;
  }
}

@media (max-width: 512px) {
  .content {
    padding: 0 0.5rem;
  }

  .header_info {
    background: none;
  }

  .info_container {
    margin-top: 38px;
    align-items: center;
  }

  .text_flag {
    margin-top: 45px;
  }

  .text_title {
    width: 100%;
    margin: 32px 0;
    font-size: 48px;
    line-height: 56px;
  }

  .header-form {
    margin: 23px 0;
  }

  .header-form_checkbox {
    margin-bottom: 24px;
  }

  .main_block {
    margin-top: 37px;
  }

  .main_program {
    height: 884px;
  }

  .video_image {
    height: 109px;
  }

  .info_announcement,
  .info_resume,
  .profiles_header,
  .header-form_header {
    text-align: center;
  }

  .info_list > ul > li:not(:last-child) {
    margin-bottom: 12px;
  }
}

@media (max-width: 380px) {
  .main_program {
    height: 1024px;
  }
}
